@media screen and (max-width: 747px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 748px) and (max-width: 941px) {
  .container {
    width: 728px;
  }
}

@media screen and (max-width: 1190px) {
  .container {
    width: 1170;
  }
}

.container {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}
