.statistics {
  padding-bottom: 150px;
}

.statistics__list {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.statistics__number {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.statistics__discription {
  font-size: 18px;
  font-weight: 400;
}

.statistics__icons {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  transform: scale(1);
  transition: 550ms;
}

.statistics__item:hover .statistics__icons,
.statistics__item:focus .statistics__icons {
  transition: 550ms;
  transform: scale(1.4);
}

.statistics__item:hover {
  cursor: pointer;
}

@media screen and (max-width: 747px) {
  .statistics {
    padding-bottom: 60px;
  }

  .statistics__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .statistics__item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 120px;
    padding-bottom: 30px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .statistics__number {
    font-size: 22px;
  }
}

@media screen and (min-width: 748px) and (max-width: 941px) {
  .statistics__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .statistics__item {
    width: 160px;
  }
}
