$primary-text-color: #333333;
$background-color: rgb(68, 81, 98);
$logo-font: 'Great Vibes', cursive;
$primary-text-font: 'Merriwaether';
$background-color-section: rgba(20, 63, 56, 0.198);
$active-color: rgb(3, 252, 215);
